@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1976d2;
}

/* Chrome - Edge - Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #161f27;
  /* background: rgb(37 99 235); */
}

*::-webkit-scrollbar-thumb {
  /* background-color: #bbbbbb; */
  background-color: rgb(55 65 81);
  border-radius: 20px;
  /* border: 3px solid #1976d2; */
}